 /* 🎨 Colores por área temática */
    .curso-humanidades { background-color: #FFE6CD; }
    .curso-introductoria { background-color: #b9e0dd; }
    .curso-investigacion { background-color: #b9c9d8; }
    .curso-servicio { background-color: #e5eff0; }
    .curso-psicobiologia { background-color: #cbdd9f; }
    .curso-educativa-desarrollo { background-color: #f3acb2; }
    .curso-social { background-color: #dbb8d6; }
    .curso-clinica-salud { background-color: #fce6ac; }
    .curso-optativo { background-color: #fefefe; } 
